// Start custom common variables
@import '~@nativescript/theme/scss/variables/blue';
// End custom common variables
// Custom styles

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out-anim {
    animation-name: fade-out;
    animation-duration: 1s;
}

/* Doesn't appear to work as desired. */
@keyframes retract {
    from { height: 44; }
    to { height: 0; }
}

.retract-anim {
    animation-name: retract;
    animation-duration: 5s;
}